@page "/recordplayback"
@inject State state
@inject Settings settings
@inject AlpacaSpyLogger logger
@inject IJSRuntime JSRuntime
@inject DialogService DialogService
@using System.Text.Json
@using ASCOM.Tools

@implements IAsyncDisposable

<PageTitle>@Globals.APPLICATION_NAME - Record and Playback</PageTitle>

<h3>Record and Playback</h3>

<h4 style="margin-top:24px;">Settings</h4>
<RadzenTabs>
    <Tabs>
        @foreach (ConfiguredDevice device in state.ConfiguredDevices)
        {
            // Get a list of all members
            List<SelectiveLogMember> members = SelectiveLoggingMetadata.GetMembers(device.DeviceType).ToList();

            // Get the number of columns required for this device type,
            int numberOfColumns = Globals.DevicetypeDisplayColumns.TryGetValue(device.DeviceType, out int cols) ? cols : 1;

            // Calculate the number of items per column, rounding up to ensure all items are included
            int splitIndex = (members.Count + numberOfColumns - 1) / numberOfColumns;

            // Create a dictionary to hold the members for each column
            Dictionary<int, List<SelectiveLogMember>> columns = new();
            for (int i = 0; i < numberOfColumns; i++)
            {
                columns[i] = members.Skip(i * splitIndex).Take(splitIndex).ToList();
            }

            string styleText = $"border:1px solid #ccc;padding:12px;border-radius:4px;max-width:{(numberOfColumns == 1 ? 700 : 60 + 270 * numberOfColumns)}px;";

            <RadzenTabsItem Text="@($"{device.Name} ({device.DeviceType})")" @key="device.UniqueId" Style="--rz-tabs-tab-display: inline-flex; --rz-tabs-tab-align-items: center;">
                <div style=@styleText>
                    <div style="display:flex;justify-content:space-between;align-items:center;gap:12px;margin-bottom:12px;">
                        <div style="display:flex;align-items:center;gap:12px;">
                            <span style="font-size:20px;font-weight:bold;">@device.Name</span>
                            <span style="color:gray;font-size:15px;">(@device.DeviceType) @device.IpAddress:@device.PortNumber / Device @device.RemoteDeviceNumber</span>
                        </div>
                        <span>
                            <RadzenButton Click="() => ClearEntries(device)"
                                          Text="Clear entries"
                                          ButtonStyle="ButtonStyle.Danger"
                                          Style="border-radius:20px; text-transform:none;" />
                        </span>
                    </div>
                    <strong style="margin-right:auto;">Recording State</strong> <span>(Not persisted)</span>
                    <div style="margin-top:8px;display:flex;flex-wrap:wrap;gap:8px;align-items:center;">
                        <span style="margin-bottom:24px;min-width:205px;">
                            <RadzenCheckBox Value="device.Recording"
                                            ValueChanged="@((bool v) => { device.Recording = v;})"
                                            Name="@($"rec_{device.UniqueId}")" />
                            <label>Recording enabled</label>
                        </span>
                    </div>
                    <strong style="margin-top:24px;margin-right:auto;">Configuration</strong>
                    <div style="margin-top:8px;display:flex;flex-wrap:wrap;gap:8px;align-items:center;">
                        <span style="min-width:260px;">
                            <RadzenCheckBox Value="device.RecordClientHeaders"
                                            ValueChanged="@((bool v) => { device.RecordClientHeaders = v;settings.Save();})"
                                            Disabled=@(device.DeviceType == AlpacaDeviceType.Camera)
                                            Name="@($"lch_{device.UniqueId}")" />
                            <label>Record headers from client</label>
                        </span>
                        <span style="min-width:260px;">
                            <RadzenCheckBox Value="device.RecordDeviceHeaders"
                                            ValueChanged="@((bool v) => { device.RecordDeviceHeaders = v; settings.Save();})"
                                            Disabled=@(device.DeviceType == AlpacaDeviceType.Camera)
                                            Name="@($"ldh_{device.UniqueId}")" />
                            <label>Record headers from device</label>
                        </span>
                        <span style="min-width:260px;">
                            <RadzenCheckBox Value="device.RecordFileUniqueIds"
                                            ValueChanged="@((bool v) => { device.RecordFileUniqueIds = v; settings.Save();})"
                                            Name="@($"fil_{device.UniqueId}")" />
                            <label>Create unique export filenames</label>
                        </span>
                    </div>
                </div>

                <div style="display:flex;align-items:center;justify-content:space-between;margin-top:24px;">
                    <div style="display:flex;align-items:center;">
                        <RadzenButton Click="() => ExportEntries(device)"
                                      Text="Export entries"
                                      ButtonStyle="ButtonStyle.Primary"
                                      Style="border-radius:20px; text-transform:none;" />
                        <span style="margin-left:24px;">Export file: @(defaultExportPath)</span>
                    </div>
                </div>
                <div>
                    <RadzenProgressBar @bind-Value="@exportProgress" AriaLabel="Progress" Style="margin-top:24px;"/>
                </div>
            </RadzenTabsItem>
        }
    </Tabs>
</RadzenTabs>

@code {
    public string defaultExportPath = "";
    public double exportProgress = 0.0;

    public async Task ClearEntries(ConfiguredDevice device)
    {
        state.Transactions[device].Clear();
    }

    public async Task ExportEntries(ConfiguredDevice device)
    {
        if (state.Transactions[device].Count == 0)
        {
            await DialogService.Alert("No transactions have been recorded", "Unable to Export", null);
            return;
        }
        try
        {
            defaultExportPath = Path.Combine(TraceLogger.GetDefaultLogFilePath(DateTime.Now), $"AlpacaSpy.{device.DeviceType}.{device.ProxyDeviceNumber}{(device.RecordFileUniqueIds ? "." + Convert.ToInt32(DateTime.Now.TimeOfDay.TotalSeconds) : "")}.json");

            await InvokeAsync(StateHasChanged);

            using (Stream output = new FileStream(defaultExportPath, FileMode.Create))
            {
                var options = new JsonWriterOptions
                {
                    Indented = true,
                    Encoder = System.Text.Encodings.Web.JavaScriptEncoder.UnsafeRelaxedJsonEscaping,
                    SkipValidation = false
                };

                using var writer = new Utf8JsonWriter(output, options);

                writer.WriteStartArray();

                int total = state.Transactions[device].Count;
                for (int i = 0; i < total; i++)
                {
                    JsonSerializer.Serialize(writer, state.Transactions[device].ToArray()[i]);

                    // Flush occasionally so the file grows continuously
                    if (i % 100 == 0)
                        await writer.FlushAsync();

                    // Report progress
                    exportProgress = i * 100 / total;
                    await InvokeAsync(StateHasChanged);
                }

                writer.WriteEndArray();
                await writer.FlushAsync();
                exportProgress =100.0;
                await InvokeAsync(StateHasChanged);
            }
        }
        catch (Exception ex)
        {
            logger.LogError("ExportEntries", $"Exception: {ex.Message}\r\n{ex}");
            await DialogService.Alert($"An error occurred while exporting, see Home page for details: {ex.Message}", "Unable to Export", null);
        }

        await DialogService.Alert("Export completed successfully", "Export Outcome", null);
    }

    public class FixedSizeConcurrentQueue<T>
    {
        private readonly System.Collections.Concurrent.ConcurrentQueue<T> _queue = new();
        private readonly int _maxSize;

        public FixedSizeConcurrentQueue(int maxSize)
        {
            if (maxSize <= 0)
                throw new ArgumentOutOfRangeException(nameof(maxSize));

            _maxSize = maxSize;
        }

        public void Add(T item)
        {
            _queue.Enqueue(item);

            // Trim old items if we exceed the limit
            while (_queue.Count > _maxSize)
                _queue.TryDequeue(out _);
        }

        public int Count => _queue.Count;

        public T[] ToArray() => _queue.ToArray();
    }

    public ValueTask DisposeAsync()
    {
        // Add any cleanup code here if needed

        return ValueTask.CompletedTask;
    }
}
