@namespace AlpacaSpy

<ErrorBoundary>
    <ChildContent>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </ChildContent>
    <ErrorContent>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="blazor-error-boundary">
                A page error has occurred. Check the application log for details.
            </div>
        </LayoutView>
    </ErrorContent>
</ErrorBoundary>
<HeadContent>
    <RadzenTheme Theme="standard" />
</HeadContent>

<script>
    let dotNetHelperIndexPage;

    function onResizeIndex() {
        if (dotNetHelperIndexPage) {
            dotNetHelperIndexPage.invokeMethodAsync('OnResizeIndex', window.innerWidth, window.innerHeight);
        }
    }

    window.registerIndexViewportChangeCallback = (dotnetHelperObject) => {
        dotNetHelperIndexPage = dotnetHelperObject;
        window.addEventListener('resize', onResizeIndex);
    }

    window.unregisterIndexViewportChangeCallback = () => {
        window.removeEventListener('resize', onResizeIndex);
        dotNetHelperIndexPage = null;
    }

    let dotNetHelperSetupPage;

    function onResizeSetup() {
        if (dotNetHelperSetupPage) {
            dotNetHelperSetupPage.invokeMethodAsync('OnResizeSetup', window.innerWidth, window.innerHeight);
        }
    }

    window.registerSetupViewportChangeCallback = (dotnetHelperObject) => {
        dotNetHelperSetupPage = dotnetHelperObject;
        window.addEventListener('resize', onResizeSetup);
    }

    window.unregisterSetupViewportChangeCallback = () => {
        window.removeEventListener('resize', onResizeSetup);
        dotNetHelperSetupPage = null;
    }

    function ScrollToBottom(elementId) {
        const element = document.getElementById(elementId);
        if (!element) {
            return 0;
        }
        let top = element.scrollHeight;
        element.scrollTop = top;
        return top;
    };
</script>

<script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>